# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

static/spotify_web/public/**/*.js
static/spotify_web/public/**/*.map
static/spotify_web/public/**/*.js.map
**/*.css

# production
/build
/static/spotify_web/node_modules
