@import "./modules/colors.less";
@import "./modules/albums.less";
@import "./modules/audioplayer.less";
@import "./modules/menu.less";

html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.user-info {
    display: flex;
    width: 170px;

    align-items: center;
    justify-content: space-between;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    background-color: @gray;
    font-family: "MontserratRegular", "MontserratBold", "MontserratItalic", sans-serif;
}
.playlist {
    max-height: 720px;
    overflow: auto;
    padding: 10px;
}
.playlist::-webkit-scrollbar-track {
    background-color: @black;
}
.playlist::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
}
.playlist::-webkit-scrollbar-thumb {
    background-color: @scrol_color;
    border-radius: 1px;
}
.user-info-content {
    color: @white;
    justify-content: flex-end;
    display: flex;
    padding: 5px;
    padding-right: 50px;
    a {
        color: @gray;
        text-decoration: none;
        border: 1px solid @gray;
        padding: 3px 10px;
        border-radius: 7px;
    }
    a:hover {
        color: @white;
        border: 1px solid @white;
    }
}
.content {
    width: 100%;
    color: @white;
    background: @back_main_content;
    padding-top: 25px;
    overflow: auto;
    max-height: 940px;
}
.content-search {
    overflow: hidden;
}
.content::-webkit-scrollbar-track {
    background-color: @black;
}
.content::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
}
.content::-webkit-scrollbar-thumb {
    background-color: @scrol_color;
    border-radius: 1px;
}
.search_content {
    padding: 5px;
    height: 740px;
}
.registration-link {
    // padding-top: 35px;
}
.search {
    padding: 5px;
    border-bottom: 1px solid white;
    width: 99%;
    display: flex;

    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: center;
    &__string {
        width: 400px;
        padding: 6px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background: @back_main_content;
        color: white;
        margin-left: 6px;
    }
    &__text-interface {
        display: flex;
        flex-direction: column;
        label {
            font-size: 12px;
        }
    }
    &__action {
        margin-left: 15px;
        padding: 8px 15px;
        background-color: @border_gray;
        color: @white;
        cursor: pointer;
        border: 1px solid @white;
        // margin-top: 10px;
        border-radius: 5px;
    }
}
.conten-react {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    height: 100%;
    flex-wrap: nowrap;

    overflow: auto;
    &react__content {
        height: 800px;
        padding: 10px;
    }
}
.content-page {
    max-height: 900px;
    // overflow: auto;
    height: 100%;
}
